
body {
      background-color: #ddd;
  }
  .login {
      padding: 15px 15px 15px 15px;
      top: 200px;
      border: #ddd solid 1px;
      background-color: #cafbe0;
      border-radius: 7px;
      box-shadow: 1px 1px 20px 5px rgba(80, 216, 47, 0.5);
  }
  .login div {
      padding: 5px;
  }
  .logo {
      top: 0;
      padding: 15px 5px 15px 5px;
      width: 100%;
  }

  .logo img {
      height: 120px;
      width: 170px;
      margin-right: 100px;
  }

  .btn-login {
      float: left;
      bottom: 0;
      left: 0px;
            
  }