
@{
    ViewBag.Title = "ReportCourseStudent";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}
<script>
    $(function () {
        $('#drpCategory').on('change', function () {
            var id = $(this).val();
            $.get('/Admin/UniReport/GetReport', { courseId: id }, function (data) {
                $('#div-course-student').html('');
                $('#div-course-student').html(data);
            })
        })
    })
</script>
@Html.DropDownList("drpCategory", (SelectList)ViewBag.CourseId,"", new { @class = "form-control" })
<div class="clearfix" style="margin-top:20px;"></div>
<div id="div-course-student"></div>


