
@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("Slider", "Home", null)




<div class="content">
    <div class="banner-bottom">
        <div class="col-md-3 ban-grid">
            <div class="ban-right">
                <h4>مدرسین</h4>
                @*<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>*@
            </div>
            <div class="ban-left">
                <i class="glyphicon glyphicon-user"> </i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 ban-grid">
            <div class="ban-right">
                <h4>دوره های ویدئویی</h4>
                @*<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>*@
            </div>
            <div class="ban-left">
                <i class="glyphicon glyphicon-facetime-video"> </i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 ban-grid">
            <div class="ban-right">
                <h4>کتابخانه</h4>
                @*<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>*@
            </div>
            <div class="ban-left">
                <i class="glyphicon glyphicon-book"> </i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 ban-grid">
            <div class="ban-right">
                <h4>دوره های آنلاین</h4>
                @*<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>*@
            </div>
            <div class="ban-left">
                <i class="glyphicon glyphicon-blackboard"> </i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--banner-bottom-->
    <!--banner-bottom-->
    <!--welcome-->
    <div class="welcome-w3">
        <div class="container">
            <h2 class="tittle">به انجمن ما خوش آمدید </h2>
            <div class="wel-grids">
                <div class="col-md-4 wel-grid">
                    <div class="port-7 effect-2">
                        <div class="image-box">
                            <img src="~/images/x1.jpg" class="img-responsive" alt="Image-2">
                        </div>
                        <div class="text-desc">
                            <h4>مطالعات</h4>
                        </div>
                    </div>
                    <div class="port-7 effect-2">
                        <div class="image-box">
                            <img src="~/images/x2.jpg" class="img-responsive" alt="Image-2">
                        </div>
                        <div class="text-desc">
                            <h4>مطالعات</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wel-grid">
                    <img src="~/images/b1.jpg" class="img-responsive" alt="Image-2">
                    <div class="text-grid">
                        <h4>مطالعات</h4>
                    </div>
                </div>
                <div class="col-md-4 wel-grid">
                    <div class="port-7 effect-2">
                        <div class="image-box">
                            <img src="~/images/x3.png" class="img-responsive" alt="Image-2">
                        </div>
                        <div class="text-desc">
                            <h4>مطالعات</h4>
                        </div>
                    </div>
                    <div class="port-7 effect-2">
                        <div class="image-box">
                            <img src="~/images/x4.jpg" class="img-responsive" alt="Image-2">
                        </div>
                        <div class="text-desc">
                            <h4>مطالعات</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--welcome-->
    <!--student-->
    <div class="student-w3ls">
        <div class="container">
            <h3 class="tittle"> دانشجویان ما</h3>
            <div class="student-grids">
                <div class="col-md-6 student-grid">
                    <h4>وب سایت الکترونیک فروش کتب دانشگاه پیام نور</h4>
                    <p>
                        به استحضار می‌رساند پیرو راه‌اندازی وب سایت الکترونیک فروش کتب دانشگاه پیام نور (digibook.pnu.ac.ir) و ضرورت  توسعه تبلیغاتی این پایگاه، خواهشمند است شرایط معرفی آن و نیز هدایت دانشجویان به لینک مذکور را به واسطه سیستم جامع گلستان،
                        ساب‌دامین‌ واحدهای دانشگاهی و مابقی بسترهای موجود فراهم نمایید.
                    </p>
                    @*<ul class="grid-part">
                            <li><i class="glyphicon glyphicon-ok-sign"> </i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </li>
                            <li><i class="glyphicon glyphicon-ok-sign"> </i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </li>
                            <li><i class="glyphicon glyphicon-ok-sign"> </i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </li>
                            <li><i class="glyphicon glyphicon-ok-sign"> </i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </li>
                            <li><i class="glyphicon glyphicon-ok-sign"> </i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </li>
                        </ul>*@

                </div>
                <div class="col-md-6 student-grid">
                    <img src="~/images/x1.jpg" class="img-responsive" alt="Image-2">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--student-->
    <!--testimonials-->
    <div class="testimonials-w3">
        <div class="container">
            <h3 class="tittle2">@*از زبان دانشجویان*@</h3>
            <div class="test-grid">
                @*<img src="/images/quote.png" alt= />
                    <h5>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </h5>
                    <p><i>محمد اعظمی</i></p>*@
            </div>
        </div>
    </div>
    <!--testimonials-->
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!--news-->
    @*<div class="new-w3agile">
            <div class="container">
                <div class="new-grids">
                    <div class="col-md-4 new-right">
                        <h3 class="tittle1">آخرین رویدادها</h3>
                        <div class="new-top">
                            <h5>لورم ایپسوم متن ساختگی</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                        <div class="new-top1">
                            <h5>لورم ایپسوم متن ساختگی</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                        <div class="new-top">
                            <h5>لورم ایپسوم متن ساختگی</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                        <div class="new-top1">
                            <h5>لورم ایپسوم متن ساختگی</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                        <div class="new-top">
                            <h5>لورم ایپسوم متن ساختگی</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                    </div>
                    <div class="col-md-8 new-left">
                        <h3 class="tittle1">آخرین اخبار</h3>
                        <h4>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده</p>
                        <div class="new-bottom">
                            <div class="new-bottom-right">
                                <img src="/images/w7.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="new-bottom-left">
                                <h5>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>*@
    <!--news-->
</div>